<h1 id="lesson-plan-name">[ Lesson Plan Name ]</h1>
<h2 id="overview">Overview</h2>
<p>[ What problems does this tool or approach solve, and what problems does it not solve? Eg. &quot;Signal does a great job of protecting the content of an SMS message in transit, and they don't store metadata on their servers, but messages stored on your phone are only as secure as your phone. And messages you send to someone else are only as secure as their phone.&quot; Include a succinct statement about what the goals of the segment are -- what should a participant understand by the end? ]</p>
<h2 id="about-this-lesson-plan">About This Lesson Plan</h2>
<p><strong>Review date:</strong> [ When was the last time this was reviewed or updated?]<br />
<strong>Lesson duration:</strong> [ Roughly how long should it take to lead participants through this lesson plan? 20 minutes? An hour? More? ]<br />
<strong>Level:</strong> [ Introductory/Intermediate/Advanced ]</p>
<p><strong>Preconditions</strong><br />
[ Concepts that the lesson assumes participants already understand, or lesson plans considered a prerequisite for this one. ]</p>
<p><strong>What materials will participants need?</strong><br />
[ eg. phone, laptop? ]</p>
<p><strong>How should participants prepare?</strong><br />
[ Do participants need to download anything? Review anything? ]</p>
<p><strong>What materials will the instructor need?</strong><br />
[ Handout? Software? Projector? Dongle? Check out Chapter 1 for more tips on planning ahead as an instructor. ]</p>
<p><strong>How should the instructor prepare?</strong><br />
[ If an instructor wants to build up their own knowledge base, what do they need to know? ]</p>
<p><strong>Advance email</strong><br />
[ At least one possible email that a could send out to participants or crib from so that they come prepared. Eg. &quot;Folks! On Friday in our weekly brown bag, I'm going to answer all your questions about making peanut butter sandwiches. Please be sure you've at least tasted peanut butter by then. You will need to bring two slices of bread. I'll have epi-pens and whole wheat bread. Please be sure to tell me if you can't eat wheat. If you have time I encourage you to read at least one of these excellent articles about why everyone should know how to make a peanut butter sandwich.&quot; ]</p>
<p><strong>Followup email</strong><br />
[ at least one possible email that an intructor could follow up with. It should include:</p>
<ul>
<li>a recap of the key points so participants can refer back to it,</li>
<li>some outside reference links for context</li>
<li>a followup exercise. Eg. &quot;Thanks for coming to the peanut butter sandwich brown bag session. I'm attaching a link to an excellent YouTube video about spreading techniques. We talked about using a knife, choosing jams that spread well, and how to think about bread. Your homework is to make at least one sandwich with creamy PB and one with crunchy and report back to me by Tuesday on how that went.&quot; ]</li>
</ul>
<h2 id="lesson-plan">Lesson Plan</h2>
<p><strong>Icebreakers/activities</strong><br />
[ Is there a recommended icebreaker or activity that will help set the tone, or illustrate a concept? Feel free to link out for these. ]</p>
<p><strong>Walkthrough or Active Lesson</strong><br />
[ A hands on activity that will help participants either implement the tool -- ideally with some notes about stumbling blocks - or drive home the concept in a useful way. If you're installing or demonstrating a specific tool, make sure there's enough information here to get around potential roadblocks. ]</p>
<h2 id="recommended-reading">Recommended Reading</h2>
<p><strong>Links in the news</strong><br />
[ As many links as are useful to illustrate this concept or need for security. ]</p>
<ul>
<li><a href="URL">Title of News Story (Outlet, Date)</a></li>
</ul>
<p><strong>More great lesson plans</strong><br />
[Links to as many other curricula and How-to articles that cover the same material as we can fit.]</p>
